
{% block content_header '' %}

{% block content %}
   <h1>SIF Agent</h1>
   <h2>{{status}}</h2>

  <h3>Current Authorization Token</h3>
   <p>{{token}}</p>

  <h3>Current Zone</h3>
   <p>{{zone}}</p>

  <h3>Available Zones</h3>
  <ul>
    {% for zone in zone_list %}
    <li><a href='zone/{{zone.id}}'>{{ zone.id }}</a> {{zone.description}}
      {% if zone.default %}
      <em>{{zone.default}}</em>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <h3>Available Students</h3>
  <p>{{student_count}} students found.</p>
  <ul>
    {% for student in student_list %}
    <li><a href='student/{{student.id}}'>{{ student.name }}</a></li>
    {% endfor %}
  </ul>

   <h3>Environment XML</h3>
   <pre>{{environment}}</pre>


{% endblock %}
