
{% block content_header '' %}

{% block content %}
   <h1>SIF Agent</h1>
   <h2>{{status}}</h2>

  <h3>Current Authorization Token</h3>
   <p>{{token}}</p>

  <h3>Available Zones</h3>
  <ul>
    {% for zone in zone_list %}
    <li><a href='zone/{{zone.id}}'>{{ zone.name }}</a></li>
    {% endfor %}
  </ul>

  <h3>Available Students</h3>
  <ul>
    {% for student in student_list %}
    <li><a href='student/{{student.id}}'>{{ student.name }}</a></li>
    {% endfor %}
  </ul>

   <h3>Environment XML</h3>
   <pre>{{environment}}</pre>


{% endblock %}
